*{
    margin: 0;
    padding: 0;
}

/*yellow color*/
$color-primary: #f9ed69;

/*orange color*/
$color-secondary: #f08a5d;

/*pink color*/
$color-tertiary: #b83b5e;

/*gray color for text*/
$color-text-dark: #333;


$width-button: 150px;


$color-text-light: #eee;


@mixin clearfix{
    /*clearfix to prevent distortion when using float*/
    &::after{
          content: '';
          clear: both;
          display: table;
      }
}

@mixin style-link-text($color){
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}


nav{
    margin: 30px;
    background-color: $color-primary;

    @include clearfix;
}

.navigation{
    list-style: none;

    li{
        display: inline-block;
        margin-left: 30px;

        &:first-child{
             margin: 0;
         }

         a{
            @include style-link-text($color-text-dark);
         }
    }
}

.buttons{
    float: right;
}

%button-placeholder{
     padding: 10px;
     display: inline-block;
     text-align: center;
     border-radius: 100px;
     width: $width-button;
     @include style-link-text($color-text-light);
 }

.btn-main{
    &:link{
        @extend %button-placeholder;
        background-color: $color-secondary;
     }

     &:hover{
    background-color: darken($color-secondary, 15%);
      }
}

.btn-hot{
&:link{
    @extend %button-placeholder;
     background-color: $color-tertiary;
 }

&:hover{
     background-color: lighten($color-tertiary, 10%);
 }
}



















