.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-2);
  box-shadow:  var(--shadow-dark);
  min-height: 50rem;
}

.header{
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  display: flex;

}

.sidebar{
  background-color: var(--color-Grey-dark-1);
  
  // first one is flex grow
  // second one is flex shrink
  // third one is the amount of space occupied
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view{
  // the element should grow as much as it can
  // occupy the rest of the free spaces
  flex: 1;
}


.details{
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-Grey-light-1);
  border-bottom: var(--line);

}

.description{
  font-size: 1.4rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;
}

.user-reviews{
  background-color: #fff;
  flex: 1;
}


















